@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 900px) {
  input, select, textarea {
    font-size: max(16px, 1em);
    max-width: 100%;
  }
}

::selection {
  background: #8fc1cf;
  color: #18384a;
}

:focus-visible {
  outline: 3px solid #db905a;
  outline-offset: 3px;
}
